<form #f="ngForm" (ngSubmit)="sendText(f)" novalidate>
  <md-input-container>
    <input mdInput name="message" type="text" ngModel required placeholder="{{ 'CAMERA.message' | translate }}">
  </md-input-container>&nbsp;&nbsp;
  <button md-raised-button type="submit">{{ 'CAMERA.send' | translate }}</button>
</form>
<br>
<button md-raised-button (click)="askPicture()">Ask Picture</button>

<md-grid-list cols="4" rowHeight="85px">
  <md-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color">
    {{tile.text}}
  </md-grid-tile>
</md-grid-list>
