.sliderPanel {
  /*position: absolute;*/
  left: 50%;
  margin-right: -50%;
  margin-top: 5%;
  transform: translate(-50%, -50%);
}

.border2 {
  border:5px ridge black;
}

.micro {
  display: block;
  position: absolute;
}

.textSong {
  /*position: absolute;*/
  left: 50%;
  margin-right: -50%;
  /*transform: translate(-50%, -50%);*/
}

.backCamera {
  position: absolute;
  left: 0;
  top: 0;
}

.fullScreen {
  position: absolute;
  right: 0;
  top: 0;
}
